/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

.banner-area {
	position: relative;
	background-size: cover;
	display: table;
	height: 80vh;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	content: '';
}

.banner-area .banner-content {
	position: relative;
	z-index: 99;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.banner-area .logo-port img {
	width: 100%;
	height: auto;
}

.banner-area h1 {
	margin: 0;
	color: #fff;
	font-weight: 400;
	line-height: 1.2;
}

.banner-area h1 span {
	display: block;
	font-size: 50%;
	margin-bottom: 20px;
}

.banner-area .logo-port {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 300px;
	z-index: 100;
}

.banner-area .request-quote {
	display: inline;
}

.banner-area .request-quote a {
	background-color: #fcdb16;
	color: #000;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: all ease .3s;
}
	
.banner-area .request-quote a:hover {
	background-color: #0e7e5f;
	color: #fff;
}

.portfolio-navigation {
	position: relative;
	padding: 20px 0;
    background: #037C59 url('/wp-content/uploads/2018/09/Layer-0.png') no-repeat center;
    background-size: 123% auto;
    background-position-y: -274px;
}



.portfolio-navigation ul {
	float: right;
	margin-right: 50px;
}

.portfolio-navigation ul li {
	display: inline-block;
	margin: 0 10px;
}

.portfolio-navigation ul li a {
	text-decoration: none;
	padding: 0 5px 10px;
	color: #000;
	font-weight: bold;
	font-size: 120%;
	border-bottom: 2px solid transparent;
}

.portfolio-navigation ul li a.active,
.portfolio-navigation ul li a:hover {
	border-color: #dd9f08;
}

.main-content {
	display: none;
}

.main-content.active {
	display: block;
}

.main-content .block-01 {
	padding: 5em 0;
	background-color: #1d1d1d;
}

.main-content .block-01 .title {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	margin-bottom: 50px;
	padding: 10px 20px;
	border-top: 2px solid #dd9f08;
	border-bottom: 2px solid #dd9f08;
}

.main-content .block-01 .sys-cont {
	color: #fff;
}

.main-content .block-01 .sys-cont h3 {
	font-size: 150%;
	margin-bottom: 10px;
}

.main-content .block-01 .tagline {
	font-size: 150%;
	color: #12bec4;
}

.main-content .block-02 h2 {
	text-align: center;
	color: #0e7e5f;
	padding: 15px 0 5px;
	text-transform: uppercase;
}

.block-02 {
	position: relative;
}

.portfolio-slider .item {
  position: relative;
}

.slider-text {
  background: rgba(0,82,37,.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  opacity: 0;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.portfolio-slider:hover .slider-text {
  opacity: 1;
}

.slider-text-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slider-text h3 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 20px;
}

.slider-text p {
  border-top: 2px solid #00e96a;
  font-size: 30px;
  padding-top: 20px;
  color: #00e96a;
}

.portfolio-slider:after {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	z-index: 99;
    background: url('/wp-content/uploads/2018/09/Layer-01.png') repeat-x bottom;
	content: '';
}

.portfolio-slider .item img {
	width: 100%;
	height: auto;
}

.block-02 .slick-next,
.block-02 .slick-prev {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
	background-color: transparent;
	outline: none;
	font-size: 0;
	border: none;
}


.block-02 .slick-next:before,
.block-02 .slick-prev:before {
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 60px;
	color: #fff;
	-webkit-transition: ease .3s all;
	-o-transition: ease .3s all;
	transition: ease .3s all;
}

.block-02 .slick-next:hover:before,
.block-02 .slick-prev:hover:before {
	color: #0e7e5f;
}

.block-02 .slick-next {
	left: 10px;
}

.block-02 .slick-next:before {
	content: "\e6a2";
}

.block-02 .slick-prev {
	right: 10px;
}

.block-02 .slick-prev:before{
	content: "\e699";
}

.footer-content {
	position: relative;
	padding: 5em 0;
	background-color: #1d1d1d;
	padding: 2em 0;
}

.download-brochure {
  position: relative;
  z-index: 99;
  margin-top: 0;
}

.download-brochure img {
	max-width: 100%;
	height: auto;
}

.footer-content p {
	color: #fff!important;
}

.sponsor_bot li {
  padding: 2px;
  box-sizing: border-box;
    float: left;
    width: 50%;
}

.sponsor_bot li img {
  max-width: 100%;
  height: auto;
}

.sponsor_bot li:first-child {
    width: 100%;
}

@media screen and (max-width: 992px) {
  .sponsor_bot li {
    width: 100%;
  }
  .block-01 .vc_col-md-4,
  .block-01 .vc_col-md-7,
  .tagline{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
	.banner-area {
		min-height: 700px;
		padding: 0 20px;
	}
	.main-content .block-01 {
		padding: 5em 20px;
	}
	.main-content .block-01 .title {
		margin-bottom: 0;
	}
	.main-content .block-01 .tagline {
		margin-bottom: 20px;
	}
	.portfolio-navigation ul {
		float: none;
		margin: 0;
	}
	.portfolio-navigation ul li {
		width: 100%;
	}
	.portfolio-navigation ul li a {
		padding: 0;
		width: 100%;
	}
	.block-02 .slick-next:before,
	.block-02 .slick-prev:before {
		font-size: 40px;
	}
	.download-brochure {
		width: 50%;
		margin: 0 auto;
	}
    .block-01 .vc_col-md-4,
    .block-01 .vc_col-md-7,
    .tagline{
      width: 100%;
    }
  .footer-content p {
    margin-bottom: 20px;
  }
}